.blockquote{
  text-align: end;
  font-size: 10px;
}
.menu__container {
  border-radius: 1em;
  align-self: center;
  width: 90%;
  height: 100px;
  /* margin-left: 30%;
  margin-right: 30%; */
  margin-top: 2%;
  /* margin-bottom: 14px; */
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to top,
    #fc6681 0%,
    #fbc2eb 100%
  );
  transform-origin: center center 0px;
  transition: all 0.5s ease-out;
}

.menu__container .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  height: 100%;
}
.menu__container .menu a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  transition: all 0.1s linear;
}

@media only screen and (min-width: 900px) {
  .menu__container {
    border-radius: 1em;
    align-self: center;
    max-width: 650px;
    height: 100px;
    margin-left: 30%;
    margin-right: 30%;
    /* margin-top: 50px;
    margin-bottom: 14px; */
    transform: perspective(1000px) rotateX(-45deg)
      rotateY(0deg) rotateZ(0deg);
  }
  .menu__container:hover {
    transform: perspective(1000px) rotateX(355deg)
      rotateY(0deg) rotateZ(0deg);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0);
  }
  .menu__container .menu a:hover {
    transform: scale(1.1, 1.1);
  }
 
}
@media only screen and (max-width: 310px) {
  .menu__container {
    width: 100%;
  }
}
